*{
    font-family: 'Roboto', sans-serif;
}
.wrapper{
    height: 100vw;
    display: grid;
    grid-template-rows: 50px 45vw 50vw 30vw 20vw 50px;
    
}
.header{
    height: 58px;
    top: 0px;
}
.nav{
    grid-row: 1;
    height: 59px;
    display: grid;
    grid-template-columns: 40% 12% 12% 12% 12% 12%;
    grid-template-rows: 50px;
    top: 0px;
    background: #a48468;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.menu__home{
    grid-column: 2;
    grid-row: 1;
}
.menu__about{
    grid-column: 3;
    grid-row: 1;
}
.menu__hard-skills{
    grid-column: 4;
    grid-row: 1;
}
.menu__contacts{
    grid-column: 5;
    grid-row: 1;
}
.home{
    grid-row: 2;
}
.home-wrapper{
    background: #a48468;
    height: 45vw;
    display: grid;
    grid-template-rows: 2vw 3vw 20vw 5vw 5vw 2vw 8vw;;
    grid-template-columns: 10% 8% 21% 5% 6% 15% 35%;
}
.my-foto-small{
    grid-row: 3 / 4;
    grid-column: 3;
    height: 25vw;
}
.my-foto-big{
    grid-row: 1 / 8;
    grid-column: 7;
    height: 45vw;
}

.my-surname{
    grid-column: 3;
    grid-row: 4;
    color: white;
    font-size: 80px;
    font-weight: 900;
    line-height: 1.4;
    position: relative;
    top: -10px;
    left: -40px;
}
.my-name{
    grid-column: 3;
    grid-row: 5;
    color: white;
    font-size: 70px;
    display: flex;
    justify-content: end;
    text-align: end;
}
.text-specialty{
    height: 5vw;
    grid-column: 3 / 5;
    grid-row: 7;
    color: white;
    font-size: 31px;
    font-weight: 800;
    display: flex;
    justify-content: end;
   
}
.about{
    grid-row: 3;
} 
.about-wrapper{
    height: 50vw;
    width: 100%;
    background: #e2c8a8;
    display: grid;
    grid-template-columns: 9% repeat(3, 26%) 8%;
    grid-template-rows: 10vw 40vw;
    grid-column-gap: 15px;
}
.about-text{
    grid-column: 1 / 6;
    grid-row: 1;
    display: flex;
    justify-content: center;
    color: #635c56;
    font-size: 50px;
    font-weight: 900;
}
.box-description{
    grid-column: 2;
    grid-row: 2;
}
.title{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    color: #635c56;
    font-size: 30px;
    font-weight: 600

}
.box-skills{
    grid-column: 3;
    grid-row: 2;
}
.text-description{
    display: flex;
    justify-content: center; 
    color: #635c56;
    font-size: 20px;
}
.box-education{
    grid-column: 4;
    grid-row: 2;
}
.hard-skills{
    grid-row: 4; 
    
}
.hard-skills-wrapper{
    background: #dbcdc2;
    height: 30vw;
    display: grid;
    grid-template-columns: 2% repeat(6, calc(96% / 6)) 2%;
    grid-template-rows: 15vw 15vw;
}
.logo-git{
    grid-column: 2;
    grid-row: 1;
}
.logo-html{
    grid-column: 3;
    grid-row: 2;
}
.logo-js{
    grid-column: 4;
    grid-row: 1;
}
.logo-css{
    grid-column: 5;
    grid-row: 2;
}
.logo-es6{
    grid-column: 6;
    grid-row: 1;
}
.logo-bem{
    grid-column: 7;
    grid-row: 2;
}
.logo-git, .logo-html, .logo-js, .logo-css, .logo-es6, .logo-bem{
    height: 15vw;
    width: 100%;
}
.contacts{
    grid-row: 5;
}
.contacts-wrapper{
height: 20vw;
background: #dbcdc2;
display: flex;
justify-content: space-around;
}
.box-contacts{
    height: 20vw;
    width: calc(100% / 4);
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-contacts{
    color: #635c56;
    font-size: 30px;
}
.my-contact{
    padding-bottom: 10px;
}
.link-lincedin{
    text-decoration: none;
    color: #635c56;
}
.my-contact__email{
    font-size: 23px;
}
.footer{
    grid-row: 6;
    
}
.footer-wrapper{
    height: 50px;
    background: #a48468;
    color: white;
    display: flex;
    align-items: center;
}
.footer-text{
    padding-left: 10px;
}
.header, .nav, .home-wrapper, .about-wrapper, .hard-skills-wrapper, .contacts-wrapper, .footer-wrapper{
    position: absolute;
    left: 0px;
    width: 100%;
}